<div class="list">
  <div class="add"><a href="" ng-click="addTodo()">+ Add a New Task</a></div>
  <div ng-repeat="todo in todos | orderBy:'completed'" ng-class="{'editing': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-init="todo.completed = false" class="item">
    <input type="checkbox" ng-model="todo.completed"><span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
    <label ng-click="editing = true" ng-hide="editing" class="editing-label">{{todo.name}}</label>
    <input type="text" ng-model="todo.name" ng-show="editing" ng-blur="editing = false" ng-change="todo.edited = true" class="editing-label">
    <div class="actions">
<!-- 	    <a href="" ng-click="editing = !editing">edit</a> -->	    
			<a href="" ng-click="saveTodos(todo)"> save</a>
	    <a href="" ng-click="deleteTodo(todo, $index)" class="delete"> delete</a>
    </div>
  </div>
</div>